<!DOCTYPE html>
<html>
    <head>
        <title>Ultimatum game</title>
        <link href="bootstrap.min.css" rel="stylesheet" />
        <style type="text/css">
            #receiver-form, .receiver-view {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div id="ultimatum" class="container">

            <noscript>
                <div class="alert alert-error">You cannot play this game because JavaScript is disabled.</div>
            </noscript>
            <div id="template-area">
                <!-- where the templates are rendered -->
            </div>
        </div>

        <script type="text/x-underscore-template" id="instructions-template">
            <h1>Hi!</h1>
            {% if (isGiver) { %}
                <p>In this game, you have a number of points. You can divvy them up however you'd like between all the players including yourself. If the majority of the players accept your offer, everyone gets what you offered. If they don't vote in favor, then no one gets anything.</p>
                <a class="btn btn-primary" href="#null">I understand</a>
            {% } else { %}
                <p>In this game, another player has a number of points. They can divvy them up however they'd like between all the players including yourself. If the majority of the players accept their offer, everyone gets what that player offered them. If the majority don't accept their offer, then no one gets anything.</p>

                <div class="progress progress-striped active well">
                    <div class="bar" style="width: 100%;"></div>
                    <h4>Please wait while the other player divvies up the points.</h4>
                </div>
            {% } %}
        </script>

        <script type="text/x-underscore-template" id="giver-form-template">
            <div id="giver-form" class="well">
                <h2>You have {{ totalAmount }}. How many do you want to give to each player?</h2>
                <form action class="form-inline">
                    {% _.each(players, function(player) { %}
                        {% if (player.id === 1) { %}
                            <div class="control-group">
                                <input type="text" name="{{ player.id }}" placeholder="You"/>
                            </div>
                        {% } else { %}
                            <div class="control-group">
                                <input type="text" name="{{ player.id }}" placeholder="Player {{ player.id }}"/>
                            </div>
                        {% } %}
                    {% }); %}

                    <div class="form-actions">
                        <a href="#null" class="btn btn-secondary">Clear</a>
                        <a href="#null" class="btn btn-primary">Done</a>
                    </div>
                </form>
            </div>
        </script>

        <!-- what the receiver sees when the giver is done and the receiver has to accept or reject -->
        <script type="text/x-underscore-template" id="receiver-form-template">
            <div id="receiver-form" class="well">
                <h3>You</h3>
                <h2>{{ player.amount }}</h2>
                <form action>
                    <a href="#null" id="accept" class="btn btn-primary">Accept</a>
                    <a href="#null" id="reject" class="btn btn-primary">Reject</a>
                </form>
            </div>
        </script>

        <!-- what the receiver sees both after he/she chooses for him/herself and what they see for the other players -->
        <script type="text/x-underscore-template" id="receiver-view-template">
            <div class="receiver-view">
                <h3>Player {{ player.id }}</h3>
                {% if (_.isNull(player.acceptedOffer)) { %}
                    <h2>{{ player.amount }}</h2>
                {% } else if (player.acceptedOffer) { %}
                    <h2 class="alert alert-success">{{ player.amount }}</h2>
                {% } else { %}
                    <h2 class="alert alert-error">{{ player.amount }}</h2>
                {% } %}
            </div>
        </script>

        <script type="text/javascript" src="underscore-min.js"></script>
        <script type="text/javascript" src="jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="ultimatum.js"></script>
        <script type="text/javascript">
            _.templateSettings = {
                interpolate: /\{\{(.+?)\}\}/g,
                evaluate: /\{\%(.+?)\%\}/g
            };

            // doing this globally even though it is evil
            ultimatum = null;
            function initialize() {
                // var ultimatum = Ultimatum(numPlayers, variables.total_amount, myid);
                ultimatum = Ultimatum(2, 10, 1);
                ultimatum.start();
            };

            initialize();
            function newMove(participantId, index) {

            };
            // do all the event bindings here and not in Ultimatum so as not to
            // pollute Ultimatum with a bunch of magic global variables
            var $ultimatum = $(ultimatum.selector);

            setRound = function(thing) {}; // TODO: remove this debugging
            // change the round
            $ultimatum.on('nextRound', function(evt) {
                ultimatum.rebind();
                setRound(ultimatum.currRound);
            });

        </script>
    </body>
</html>
